@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

* {
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
}

#header {
	text-align: center;
	position: relative;
	overflow: hidden;
	/*-webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);*/
}

.avatar {
	margin-top: 2vh;
	margin-bottom: 2vh;
	height: 14vh;
	min-height: 120px;
}

.content {
	height: 100vh;
	margin-left: 4vw;
	margin-right: 4vw;
	color: #666;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 150%;
}

.content h1, h2 {
	font-size: 250%;
	font-weight: 400;
}

.content h3 {
	font-weight: 300;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.content p {
	font-weight: 200;
	font-size: 100%;
}

.about p {
	font-size: 120%;
	line-height: 1.5em;
}

.title {
	margin-bottom: 3vh;
}

.social {
	text-align: center;
	margin-top: 6vh;
}

.social a {
	text-decoration: none;
	color: #000;
	transition: 0.2s all;
	margin-left: 3vw;
	margin-right: 3vw;
}

.social a:hover {
	color: #444;
}

#projectsheading {
	padding-top: 50px;
	font-size: 200%;
	font-weight: 400;
}

.project {
	margin-top: 30px;
	height: 150px;
	transition: all 0.5s;
	-webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
	overflow: hidden;
}

.project p {
	color: white;
}

.project a {
	color: white;
	font-size: 150%;
}

.project img {
	height: 130px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-bottom: 10px;
	margin-left: 10px;
}

.project h3 {
	float: right;
	margin-right: 3vw;
	position: relative;
	top: 20%;
	transform: translateY(-20%);
	color: white;
	font-size: 200%;
	width: 40vw;
}

.popup {
	margin-right: 3vw;
	margin-left: 10vw;
	display: none;
	float: right;
	width: 35vw;
	position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.logbox {
	background-color: #240034;
}

.download {
	background-color: black;
	margin-bottom: 30px;
}
