@media screen and (min-width: 1000px) {
  .content {
    margin-left: 16vw;
    margin-right: 16vw;
  }
  .logbox img {
  	margin-left: 58px;
  }
}

@media screen and (max-height: 650px) {
  .about h1 {
    display: none;
  }
}


@media screen and (min-width: 1528px) {
  .projects h3 {
    width: 49vw;
  }
}

@media (max-resolution: 1dppx) {
    .content {
      font-size: 100%;
      margin-left: 10vw;
      margin-right: 10vw;
    }
}
