@media screen and (min-width: 1050px) {
  .content {
    margin-left: 18vw;
    margin-right: 18vw;
  }
}

@media screen and (max-height: 650px) {
  .about h1 {
    display: none;
  }
}

@media (max-resolution: 1dppx) {
    .content {
      font-size: 100%;
      /*margin-left: 10vw;
      margin-right: 10vw;*/
    }
}
